<header class="with-background">
    <div class="top-nav container">
        <div class="logo">
            <a href="/"> Express / EJS / Postgresql Ecommerce </a>
        </div>
		<%- include('./navlinks')  %>
    </div>

    <div class="hero container">
        <div class="hero-copy">
            <h1>Le roi de la merguez a encore frappe</h1>

            <p>Des produits, Des categories, un panier</p>
            <div class="hero-buttons">
                <a href="!#" class="button button-white"> Blog Post </a>
                <a href="!#" class="button button-white"> GitHub </a>
            </div>
        </div>

        <div class="hero-image">
            <img src="img/kenshiro.jpg" alt="heropages" />
        </div>
    </div>
</header>
