<%- include ('head') %>

<header>
    <div class="top-nav container">
        <div class="logo">
            <a href="/"> Home </a>
        </div>

        <%- include('./navlinks') %>
    </div>
</header>
